<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.bizone.rssReader"
	  android:versionCode="1"
	  android:versionName="1.0">
  <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name="RSSReaderActivity"
	      android:label="@string/main_activity">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="HelpActivity"
	      android:label="@string/help_activity" />
    <activity android:name="RegistRSSActivity"
	      android:label="@string/regist_rss_activity" />
    <activity android:name="NewPostActivity" />
    <activity android:name="AllPostActivity" />
    <activity android:name="RemoveRSSActivity"
	      android:label="@string/remove_rss_activity" />
  </application>
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 
